//Paleta de colores que usaremos
$azul_rx: rgb(69,141,255);
$azul_1: rgb(145,188,255);
$azul_2: rgb(55,113,204);
$azul_3: rgb(73,94,127);
$azul_4: rgb(34,70,127);
$naranja: rgb(255,115,94);
$verde_claro: rgb(161,204,35);
$verde_oscuro: rgb(143,178,39);
$amarillo: rgb(255,247,69);
$rojo: rgb(232,74,85);